extends layout/login-layout.pug

block content 
    .form-wrapper
        h3 Créer un compte
        form(method='POST' action='/register')
            .form-group.mb-3
                label(for='prenom') Prénom
                input#prenom.form-control(type='text' aria-describedby='emailHelp' placeholder='' name='firstname')
            .form-group.mb-3
                label(for='nom') Nom
                input#nom.form-control(type='text' aria-describedby='emailHelp' placeholder='' name='lastname')
            .form-group.mb-3
                label(for='pseudo') Pseudo
                input#pseudo.form-control(type='text' aria-describedby='emailHelp' placeholder='' name='username')
            .form-group.mb-3
                label(for='exampleInputEmail1') Email
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email' name='email')
            .form-group.mb-3
                label(for='exampleInputPassword1') Mot de passe
                input#exampleInputPassword1.form-control(type='password' placeholder='Password' name='password')
            .form-group.mb-3
                label(for='passwordconf') Confirmer le mot de passe
                input#passwordconf.form-control(type='password' name='passwordconf' placeholder='')
            .form-group.mt-2
                input.submit-btn(type='submit' value='Créer')
